/* スマホへの振り分け */

 /* 表示領域が1200px以上の場合に適用するスタイル（パソコン向け） */
 @media screen and (min-width: 801px){
    #registration_pc {visibility : visible;}
    #registration_sp {display : none;}
}	

    /* 表示領域が1190px以下の場合に適用するスタイル（スマホ向け） */
@media screen and (max-width: 800px) {
    #registration_pc {display : none;}
    #registration_sp {visibility : visible;}
}


body {
    font-family: "ヒラギノ角ゴシック";
}

.header_black {
    height: 10px;
    background-color: #343434;
}

.header_orange {
    height: 15px;
    background-color: #FFB01A;
}

.header_content {
    text-align:center;
}

.cpon_logo {
    width: 250px;
    height: 102px;
    margin-left: 250px;
}

#freeword_form {
    height:40px;
    width:650px;
}

.freeword_text {
    height:40px;
    width:600px;
    border-radius:20px;
    border:solid 2px;
    border-color: #A2A2A2;
    padding-left: 20px;
}

.fa-search {
    color : white;
}

.fas_search_button {
    background-color: #FFB01A;
    border-radius:20px;
    border:none;
    width:30px;
    height:30px;
    margin-left:-50px;
}

footer {
    text-align:center;
    background-color: #FFA500;
    color: white;
}

.banner_list {
    height: 500px;
}

table a, table a:hover {
    color: white;
    text-decoration:none;
    font-size: 20px;
}

table {
    margin:50px auto;
}

td {
    width: 400px;
    height: 50px;
}

p {
    font-size: 20px;
    font-weight: bold;
}

.restaurant_list_title {
    font-size: 25px;
    margin-left: 10px;
}

hr {
    margin:3px 0;
}

.center {
    text-align:center;
}

.button_black, .button_comment {
    text-align:center;
}

.button_black a {
    font-size: 20px;
    font-weight: bold;
    display:block;
    width:400px;
    height:50px;
    margin:10px auto;
    line-height:50px;
    background:black;
    color:#fff;
    border-radius:25px;
    text-decoration:none;
    text-align:center;
}

.comment_list_header {
    height:50px;
}

.comment_list_title {
    float:left;
}

.comment_list_content {
    margin:10px 20px;
}

.button_comment {
    float:right;
}

.button_comment a {
    font-size: 15px;
    font-weight: bold;
    display:block;
    width:200px;
    height:40px;
    margin:0px auto;
    line-height:40px;
    background:black;
    color:#fff;
    border-radius:20px;
    text-decoration:none;
    text-align:center;
}

.number b {
    font-size: 18px;
}

.fivestar {
    font-size: 18px;
    color:#FD7E00;
}

.comment_form_title {
    font-size: 20px;
    font-weight: bold;
    margin:20px 0;
}

.comment_create_title {
    font-size: 25px;
    margin: 30px 0px;
    border-left: orange solid 5px;
    padding-left: 20px;
}

.search_button a {
    font-size: 15px;
    font-weight: bold;
    display:block;
    width:70%;
    height:30px;
    margin:10px auto;
    line-height:30px;
    background:#FF7D1A;
    color:#fff;
    border-radius:25px;
    text-decoration:none;
    text-align:center;
}

.flexible-list {
    display: flex;
    margin: 0 auto;
    padding: 0 0px;
    min-width: 1120px;
    max-width: 1400px;
}

.flexible-list-side {
    min-width: 200px;
    max-width: 220px;
}

.flexible-list-sidebar {
    border: 3px solid;
    border-color: orange;
    border-radius: 4px;
    padding: 10px;
}

.flexible-list-sidebar hr {
    border: 1px solid;
    border-color: orange;
    width: 80%;
}

.flexible-list-main {
    margin-left: 10px;
    width: 100%;
    min-width: 800px;
    max-width: 1040px;
}

.filter_form_title {
    font-size: 23px;
}

.search_radio {
    margin:7px 0;
}

.search_radio_list {
    font-weight: bold;
    margin:10px 0;
}

.filter_name {
    font-weight: bold;
}

.filter_freeword {
    width: 70%;
    border: 1px solid #aaa;
    border-radius: 8px;
    margin: 3px 0;
    outline: none;
    padding: 3px;
    box-sizing: border-box;
    transition: 0.3s;
}

input[type="text"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

.flexible-list-sidebar input::placeholder {
    font-weight: bold;
    font-size: 12px;
    color: #A2A2A2;
}

select {
    font-weight: bold;
    font-size: 12px;
    color: #A2A2A2;
    border: 1px solid #aaa;
    border-radius: 8px;
    height: 30px;
}

label {
    cursor: pointer;
    padding:5px;
    border: 1px solid #434343;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}
.check_box {
    display: none;
}
.check_box:checked + .label {
    background-color: orange;
}

.notice_home a, .notice_home a:hover,
.recommend_restaurant a, .recommend_restaurant a:hover,
.new_restaurant a, .new_restaurant a:hover,
.search_restaurant a, .search_restaurant a:hover,
.menu_list_bar a, .menu_list_bar a:hover,
.category a, .category a:hover {
    color: black;
    text-decoration:none;
}

.recommend_restaurant img,
.new_restaurant img,
.search_restaurant img {
    width:270px;
    height:150px;
}

.menu_detail img {
    width:240px;
    height:240px;
}

.notice_home {
    margin-top:20px;
}

.notice_show {
    width:700px;
    margin:10px auto;
}

.notice_date {
    margin: 7px 0 0 30px;
}

.notice_title {
    margin: 0 0 10px 30px;
    font-weight: bold;
}

.notice_title_big {
    font-size: 30px;
    font-weight: bold;
}

.notice_content {
    font-weight: bold;
}

.cpon_notice {
    font-size: 50px;
    font-weight: bold;
    text-align:center;
    background-color: grey;
    color:white;
    height:300px;
    line-height: 300px;
}

.restaurant_name {
    font-size: 30px;
    font-weight: bold;
}

.recommend_list, .new_list, .search_list, #menu_list_recommend, #menu_list_all {
    display:flex;
    flex-wrap:wrap;
}

.recommend_list {
    margin-bottom: 10px;
}
.recommend_restaurant, .new_restaurant, .search_restaurant {
    width: 30%;
    margin: 10px;
}

.recommend_name, .new_name, .search_name {
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

.recommend_address, .new_address, .search_address {
    font-size: 12px;
    height: 36px;
    color: #696969;
}

.recommend_time, .new_time, .search_time {
    font-size: 12px;
    color: #696969;
    display: inline-block;
}

.menu_detail {
    width: 23%;
    margin: 10px;
}

.menu_name {
    font-size: 18px;
}

.menu_price {
    font-weight: bold;
}

.menu_explain {
    color:#797979;
    font-size: 16px;
}

.recommend_mark {
    font-size: 10px;
    font-weight: bold;
    display:block;
    width:50px;
    height:15px;
    margin:10px 0;
    background:green;
    color:#fff;
    border-radius:25px;
    text-decoration:none;
    text-align:center;
}

.open_mark {
    font-size: 8px;
    font-weight: bold;
    display:block;
    width:50px;
    height:15px;
    margin:0px 0;
    background:#DD0000;
    color:#fff;
    border-radius:25px;
    text-decoration:none;
    text-align:center;
    display: inline-block;
}

.restaurant_time {
    display: inline-block;
}

.restaurant_address, .recommend_time, .restaurant_comment, .restaurant_inquiry {
    margin: 10px 0;    
}

.comment_error {
    font-size: 25px;
    font-weight: bold;
    color:red;
    text-align: center;
}

.file_button {
    text-align:center;
}

#pref_list {
    display: none;
}

/*以下ヘッダーの検索フォームについて*/



/*以下メニューバーについて*/

.menu_list_bar {
    margin-top: 10px;
    font-weight: bold;
}
.menu_list_bar ul{
    display: table;
    margin: 0;
    padding: 0;
    width: 30%;

}
.menu_list_bar li{
    display: table-cell;
    min-width: 50px;
}
.menu_list_bar a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: #555;
    padding-bottom: 5px;
    text-align:center;
}
.menu_list_bar li.current{
    border-bottom: 3px solid black;
}

.menu_list_bar li{
    border-bottom: 3px solid #dcdcdc;
}

.menu_list_bar li:hover{
    color: #dcdcdc;
    border-bottom: 3px solid #a9a9a9;
}


/*以下スライダー機能について*/

.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    margin:0 auto;
    padding: 0px 20px;
}

.slider img {
    width:80%;/*スライダー内の画像を横幅100%に*/
    height:auto;
}

.slider li {
    height:120px;
}
/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin:0 10px 10px 10px;
}

.slider_banner {/*横幅94%で左右に余白を持たせて中央寄せ*/
width:94%;
    margin:0 auto;
    padding: 0px 20px;
}

.banner_img {
    width:100%;/*スライダー内の画像を横幅100%に*/
    height:auto;
}

.slider_banner li {
    height:150px;
}
/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider_banner .slick-slide {
    margin:0 10px;
}

.category_link {
    text-align:center;
    background-color: #F0F0F0;
    width:100px;
    border-radius:5%;
}

.category li img {
    margin:15px auto;
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
}

.slick-dots li {
    display:inline-block;
    margin:0 5px;
    height:10px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}

/*以下五つ星デザインについて*/

.fivestar_title {
    float:left;
    font-size: 25px;
    margin: 30px 0px;
    border-left: orange solid 5px;
    padding-left: 20px;
}

.rate-form {
    display: flex;
    flex-direction: row-reverse;
    margin: 0px 380px 0px 0px;
}
.rate-form input[type=radio] {
    display: none;
}
.rate-form label {
    position: relative;
    padding: 0 5px;
    color: #ccc;
    cursor: pointer;
    font-size: 60px;
    border:none;
}
.rate-form label:hover {
    color: #ffcc00;
}
.rate-form label:hover ~ label {
    color: #ffcc00;
}
.rate-form input[type=radio]:checked ~ label {
    color: #ffcc00;
}



/*以下モーダルについて*/

/* モーダルウィンドウ */
.modal-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 580px;
    background-color: #dfdddd;
    border-radius: 5px;
    z-index: 11;
    padding: 2rem;
}
.modal-text {
    font-size: 33px;
    font-weight: bold;
    position: absolute;
    top: 35%;
    left: 11%;
}
/* 閉じるボタン */
.button-close {
    font-size: 30px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 80px;
    background-color: black;
    color: #eaeaea;
    border-radius: 20rem;
    cursor: pointer;
}
/* オーバーレイ */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
}



/*以下ページネーションについて*/

.paginationWrap {
    display: flex;
    justify-content: center;
    margin-top: 38px;
    margin-bottom: 40px;
}

.paginationWrap ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.paginationWrap ul.pagination li {
    display: inline;
    margin-right: 4px;
}

.paginationWrap ul.pagination li a {
    color: #2f3859;
    padding: 8px 14px;
    text-decoration: none;
}

.paginationWrap ul.pagination li a.active {
    background-color: #EDEDED;
    border-radius: 5px;
    width: 38px;
    height: 38px;
}

.paginationWrap ul.pagination li a:hover:not(.active) {
    background-color: #e1e7f0;
    border-radius: 5px;
}