/* iPad・スマホへの振り分け */

/* 表示領域が1200px以上の場合に適用するスタイル（パソコン向け） */
@media screen and (min-width: 851px) {
    #registration_pc {visibility : visible;}
    #registration_ipad {display : none;}
}	

/* 表示領域が1190px以下の場合に適用するスタイル（スマホ向け） */
@media screen and (max-width: 850px) {
    #registration_pc {display : none;}
    #registration_ipad {visibility : visible;}
}

/* 表示領域が1190px以下の場合に適用するスタイル（スマホ向け） */
/* @media screen and (max-width: 400px) {
    #registration_pc {display : none;}
    #registration_ipad {display : none;}
    #registration_sp {visibility : visible;}
} */

#registration_ipad {
min-width:768px;
}

#registration_sp {
    min-width: 375px;
    overflow-x: hidden;
}

body {
    font-family: "ヒラギノ角ゴシック";
}

.body_ipad {
    width:700px;
    margin:0 50px;
}

.body_sp {
    min-width:375px;
    text-align:-webkit-center;
}

.header_black, .footer_black {
    height: 10px;
    background-color: #343434;
}

.footer_black_sp{
    height: 10px;
    background-color: #343434;
margin-top:20px;
}

.header_black {
    z-index: 100;
    position: relative;
}

.header_orange {
    height: 30px;
    background: transparent linear-gradient(89deg, #FFC645 0%, #FFC24E 17%, #FFCD45 62%, #FFAD10 100%) 0% 0% no-repeat padding-box;
}

.header_content {
    text-align:center;
    width: 1090px;
    margin: 0 auto;
    height:80px
}

.cpon_logo {
    width: 250px;
    height: 102px;
    position:relative;
    top:10px;
}

.cpon_logo_div {
    width: 250px;
    height: 102px;
    margin: 0 auto;
}

.cpon_logo_div_sp, .cpon_logo_sp {
    width: 150px;
    z-index: 100;
    position: relative;
    top:3px;
}

.cpon_logo_div_sp {
    margin: 0 auto;
}

.cpon_logo_ipad {
    width: 250px;
    height: 102px;
}

.cpon_logo2 {
    width: 250px;
    height: 102px;
}

footer a, footer a:hover {
    color: white;
    text-decoration:none;
}

.footer_menu {
    font-size: 14px;
    margin:10px 0;
    font-weight: 300;
}

.footer_menu_sp {
    font-size: 14px;
    margin:20px 10px 0px 10px;
    width:180px;
    float:left;
    text-align: left;
}

.copyright {
    font-size: 12px;
    font-weight:200;
}
.copyright_sp{
    font-size: 12px;
    font-weight: 200;
    top: 17px;
    position: relative;
}
#freeword_form, #freeword_form_ipad {
    height: 40px;
    width: 650px;
    position: relative;
    top: 22px;
    left: 150px;
    color: #646464;
}


#freeword_form {
    width: 650px;
}

#freeword_form_ipad {
    margin:0 auto;
    left: 0px;
}

#freeword_form_sp {
    width: 360px;
    height:50px;
    text-align: center;
}

.freeword_text, .freeword_text_ipad {
    height:47px;
    border-radius:29px;
    border:solid 2px;
    border-color: #A2A2A2;
    padding-left: 20px;
    font-weight:300;
}

.freeword_text, .freeword_text_ipad {
    width:99%;
}

.freeword_text_sp {
    height: 53px;
    width: 290px;
    margin-top: -50px;
    border-radius: 50px;
    border: solid 1px;
    border-color: #A2A2A2;
    padding-left: 30px;
}

.fa-search {
    color : white;
}

.fas_search_button {
    background-color: #FFB01A;
    border-radius:20px;
    border:none;
    width:30px;
    height:30px;
    margin-left:-50px;
}

.fas_search_button_sp {
    background-color: #FFB01A;
    border-radius: 50px;
    border: none;
    width: 49px;
    height: 49px;
    margin-left: -1px;
}

.search_result_title {
    font-size: 20px;
}

.search_result_title_ipad {
    font-size: 20px;
    width:100%;
    margin-top: 20px;
}

.category_title_ipad {
    margin: 40px 10px 10px 50px;
}

.category_title_sp {
    font-size: 14px;
    margin: 1px 0;
    margin-top: 0px;
    text-align: left;
    width: 345px;
}

.category_background {
    height:300px;
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
    padding-right: calc(50vw - 50%);
    padding-left: calc(50vw - 50%);
}

.category_name_title {
    position: relative;
    top:40%;
    font-size: 40px;
    font-weight: bold;
    margin-left:30px;
    color: white;
    -webkit-text-stroke:2px #727272;
}

.category_img {
    float:left;
    margin-left:40px;
}

.category_background_ipad {
    height:200px;
    margin-bottom: 20px;
}

.category_background_sp {
    height:130px;
    margin-bottom: 20px;
}

.category_name_title_ipad {
    position: relative;
    top:30%;
    font-size: 40px;
    font-weight: bold;
    margin-left:60px;
    width:300px;
}

.category_img_ipad {
    position: relative;
    float:left;
}

.category_img_ipad img {
    width:71%;
    height:60%;
}

.category_name_title_sp {
    position: relative;
    top: 30%;
    font-size: 33px;
    font-weight: bold;
    margin-left: -30px;
    width: 360px;
    color: white;
    text-align: right;
    -webkit-text-stroke:2px #727272;
}
.category_img_sp {
    position: relative;
    float: left;
    width: 60%;
    margin-left: -40px;
}

.category_img_sp img {
    width:60%;
    height:60%;
}

footer {
    text-align:center;
    background: transparent linear-gradient(85deg, #FFC645 0%, #FFC24E 17%, #FFCD45 62%, #FFAD10 100%) 0% 0% no-repeat padding-box;;
    color: white;
    margin-top: 40px;
}

.footer_item_title {
    font-size: 30px;
}

.footer_item_title_ipad {
    margin-top: 30px;
    font-size: 30px;
}

.footer_item_title_sp {
    font-size: 20px;
}
.footer_item_title_sp .foot_text {
    margin:0 auto;
    width:360px;
    font-weight:300;
    font-size: 9px;
    text-align: left;
}
.footer_item_title_sp .foot_title {
    margin:0 auto;
    width: 360px;
    font-size: 12px;
    font-weight:500;
    text-align: left;
}

.foot_title{
margin:0 auto;
width: 1030px;
font-size: 17px;
font-weight:500;
text-align: left;
}
.foot_text{
    margin:0 auto;
    width:1000px;
    font-weight:300;
    font-size: 15px;
    text-align: left;
}

.help_content {
    text-align:center;
    font-size: 14px;
}

.line_url {
    margin:15px 0;
}

.qr_code {
    margin-bottom: 50px;
}

.qr_code_sp {
    width:50%;
}

.banner_list {
    height: 500px;
}

table a, table a:hover {
    color: white;
    text-decoration:none;
    font-size: 20px;
}

table {
    margin:50px auto;
}

td {
    width: 400px;
    height: 50px;
}

p {
    font: normal normal normal 20px/51px Hiragino Sans;
}

.restaurant_list_title {
    font: normal normal normal 20px/51px Hiragino Sans;
    margin-left: 20px;
    margin-bottom: 0px;
    color: #FFB01A;
}
.restaurant_list_te {
position: relative;
top:3px;
margin-left:10px;
}
.restaurant_list_te_sp {
    position: relative;
    top:3px;
    margin-left:10px;
    }
.restaurant_list_line{
    width: 844px;
    height: 15px;
    background: #FFB01A 0% 0% no-repeat padding-box;
    margin-left:10px;
}
#registration_ipad .restaurant_list_line{
    width: 100%;
    height: 15px;
    background: #FFB01A 0% 0% no-repeat padding-box;
    margin-left:10px;
    margin:0 auto;
}

.restaurant_list_line_sp{
    width: 380px;
    height: 10px;
    background: #FFB01A 0% 0% no-repeat padding-box;
    margin: 0 auto;
    left: -5px;
    position: relative;
}

.restaurant_list_title_ipad {
    font-size: 25px;
    text-align: center;
    color: #FFB01A; 
    margin-top: 30px;
}

.restaurant_list_title_sp {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    color: #FFB01A;
}

.index_notice_title_sp {
    margin-top:30px;
    text-align: center;
}

.flexible_img_list {
    display: flex;
    margin: 0 auto;
    padding: 0 0px;
    min-width: 1100px;
}

.flexible_img_list_ipad {
    display: flex;
    margin: 0 auto;
    padding: 0 0px;
    min-width: 700px;
    justify-content: flex-start;
}

.main_img {
    width: 540px;
    height: 540px;
    margin:5px;
}

.sub_img {
    width: 173px;
    height: 173px;
    margin:5px;
}

.main_img_ipad {
    width: 320px;
    height: 180px;
    margin:10px;
}

.sub_img_ipad {
    width: 170px;
    height: 85px;
    margin:10px 5px 0 0;
}

hr {
    margin:3px 0;
}

.center {
    text-align:center;
}

.button_black, .button_comment, .notice_button_back, .notice_button_back_sp, .notice_button_next_sp, .notice_button_next, .notice_button_index, .button_grey {
    text-align:center;
}
.button_grey a {
    font-size: 20px;
    /* font-weight: bold; */
    display: block;
    width: 480px;
    height: 67px;
    margin: 60px auto;
    line-height: 66px;
    background: #666665;
    color: #fff;
    border-radius: 75px;
    text-decoration: none;
    text-align: center;
}

.button_grey_sp a {
    font-size: 20px;
    /* font-weight: bold; */
    display: block;
    width: 310px;
    height: 60px;
    margin: 30px auto;
    line-height: 63px;
    background: #666665;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 65px;
}

.button_black a {
    font-size: 20px;
    /* font-weight: bold; */
    display: block;
    width: 480px;
    height: 67px;
    margin: 60px auto;
    line-height: 66px;
    background: #FFB01A;
    color: #fff;
    border-radius: 75px;
    text-decoration: none;
    text-align: center;
}

.button_black_sp a {
    font-size: 20px;
    /* font-weight: bold; */
    display: block;
    width: 310px;
    height: 60px;
    margin: 20px auto;
    line-height: 59px;
    background: #FFB01A;
    color: #fff;
    border-radius: 65px;
    text-decoration: none;
    text-align: center;
}

.back_button a {
    font-size: 20px;
    font-weight: bold;
    display: block;
    width: 45px;
    height: 45px;
    margin: 15px 0 0 15px;
    line-height: 45px;
    background: #FFB01A;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    float: left;
}

.button_black a:hover,
.button_comment a:hover,
.notice_button_back a:hover,
.notice_button_back_sp a:hover,
.notice_button_next a:hover,
.notice_button_next_sp a:hover,
.notice_button_index a:hover {
    transition: 0.5s;
    opacity: 0.6;
}

.button_comment {
    float:right;
}
.button_comment_sp {
    float:right;
}

.button_comment a {
    font-size: 14px;
    font-weight: 300;
    display: block;
    width: 200px;
    height: 40px;
    margin: 0px auto;
    line-height: 40px;
    background: #FDB731;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
}

.button_comment_sp a {
    font-size: 13px;
    font-weight: 300;
    display: block;
    width: 170px;
    height: 40px;
    margin: 0px auto;
    line-height: 42px;
    background: #FDB731;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
}

.notice_button_back {
    float:left;
}
.notice_button_back_sp {
    float:left;

}s

.notice_button_next {
    float:right;
}

.notice_button_back a,
.notice_button_next a,
.notice_button_index a {
    font-size: 13px;
    /*font-weight: bold;*/
    display:block;
    width:160px;
    height:35px;
    line-height:38px;
    background:#FDB731;
    color:#fff;
    border-radius:20px;
    text-decoration:none;
    text-align:center;
}

.notice_buttons {
    margin: 50px 0 100px 0;
}

.comment_list_header {
    height:50px;
}

.comment_list_header_sp {
    height:50px;
    width: 360px;
}


.comment_list_title{
float:left;
margin-top:-3px;
font-size:17px;
}
.comment_list_title_sp{
    float:left;
    margin-top:-3px;
    font-size:16px;
    }

.comment_list_content {
    margin: 10px 20px;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
}


.comment_list_content_sp {
    margin:10px 10px;
}
.comment_list_sp{
    position: relative;
    top:20px;
}

.comment_datetime {
    font-size: 12px;
    float:right;
}

.comment_datetime_sp {
    font-size: 10px;
    float:right;
}

.comment_name_sp {
    font-size: 12px;
    float: left;
}

.number {
    margin-bottom: 10px;
    text-align: left;
    position: relative;
}

.number_ipad {
    height:50px;
}

.number_list {
    float:left;
    margin-left: -100px;
}

.number b {
    font-size: 15px;
    text-align: right;
    font-weight: 300;
}

.number_sp {
    font-size: 11px;
    float: left;
    width: 360px;
}

.fivestar {
    font-size: 15px;
    color:#FD7E00;
}

.comment_form_title {
    font-size: 22px;
    /* font-weight: bold; */
    margin: 20px 0;
}
.comment_form_title_sp {
    font-size: 22px;
    /* font-weight: bold; */
    margin: 20px 0;
    width: 360px;
}

.user_name_title, .comment_create_title {
    font-size: 19px;
    margin: 22px 0px 10px 0px;
    border-left: orange solid 5px;
    padding-left: 20px;
}

.user_name_title_sp, .comment_create_title_sp {
    float:left;
    margin: 10px 0px;
    border-left: orange solid 5px;
    padding-left: 10px;
}

.comment_input, .user_name_input {
    border-radius: 4px;
    border: solid 1px;
    border-color: #A2A2A2;
}

.comment_input_sp {
    width: 360px;
}
.user_name_input_sp{
    width: 350px;
    height: 40px; 
}

.user_name_input {
    width: 370px;
    height: 40px;
}

.user_name_form {
    margin-bottom: 20px;
}
.user_name_form_sp {
    margin-bottom: 20px;
    width:360px;
    font-size: 15px;
}

.search_button a {
    font-size: 15px;
    font-weight: bold;
    display:block;
    width:70%;
    height:30px;
    margin:10px auto;
    line-height:30px;
    background:#FF7D1A;
    color:#fff;
    border-radius:25px;
    text-decoration:none;
    text-align:center;
}

.flexible-list {
    display: flex;
    margin: 0 auto;
    padding: 0 0px;
    min-width: 1120px;
    max-width: 1400px;
}

.flexible-list-side {
    margin-top: 10px;
    min-width: 200px;
    max-width: 220px;
}
/*.flexible-list-sidebar_bg{
    width: 220px;
    min-width: 200px;
    max-width: 220px;
}*/

.flexible-list-sidebar, .flexible-list-sidebar_ipad, .flexible-list-sidebar_sp {
    border: 3px solid;
    border-color: orange;
    border-radius: 8px;
    padding: 10px;
    position: relative;
    bottom: -5px;
}

.flexible-list-sidebar_ipad {
    margin: 0 50px 0 50px;
}

.flexible-list-sidebar_sp {
    margin: 10px 0;
}

.flexible-list-sidebar hr {
    border: 1px solid;
    border-color: orange;
    width: 80%;
}

.flexible-list-sidebar_ipad hr {
    border: 1px solid;
    border-color: orange;
    margin-top: 10px;
    width:100%;
}

.flexible-list-sidebar_sp hr {
    border-color: orange;
    margin: 10px 0;
    width:100%;
}

.flexible-list-main {
    margin-left: 10px;
    width: 100%;
    min-width: 800px;
    max-width: 1040px;
}

.filter_form_title {
    font-family: "Hiragino Sans";
    font-weight: 100;
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 11px;
    width: 220px;
    height: 50px;
    border-radius: 8px;
    background: transparent linear-gradient(
261deg, #FDB731 0%, #FACD78 33%, #FFB831 71%, #FFA600 100%) 0% 0% no-repeat padding-box;
    font-size: 20px;
    font-weight: 300;
}

.filter_form_title_ipad {
    font-weight: bold;
}

.search_radio {
    margin: 7px 5px;
}

.search_radio_list, .search_radio_list_ipad {
    margin-bottom: 10px;
    text-align: left;
}

.filter_flex_ipad_left {
    width:50%;
    padding:5px;
}

.filter_flex_ipad_right {
    width:50%;
    padding:15px;
    border-left: double 2px #FFB01A;
}

.search_button {
    width:200px;
    margin:0 auto;
}

.filter_name {
    padding-bottom: 0px;
    color: #FFB01A;
    text-align: left;
}

.filter_freeword {
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 8px;
    margin: 3px 0 10px 0;
    outline: none;
    padding: 3px;
    box-sizing: border-box;
    transition: 0.3s;
}

input[type="text"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

.flexible-list-sidebar input::placeholder,
.filter_freeword::placeholder {
    /*font-weight: bold;*/
    font-size: 12px;
    color: #A2A2A2;
}

.filter_flex_ipad_right .filter_time select {
    width:100px;
}

select {
    /*font-weight: bold;*/
    font-size: 12px;
    color: #A2A2A2;
    border: 1px solid #aaa;
    border-radius: 8px;
    height: 30px;
    margin-left:10px;
}

.comment_sort_select {
    font-weight: normal;
    font-size: 15px;
    color: black;
    background-color: #eeeeee;
    border: none;
    border-radius: 30px;
    height: 30px;
    width:170px;
    float:right;
    padding-left: 10px;
}
.comment_sort_select_sp {
    font-weight: normal;
    font-size: 13px;
    color: black;
    background-color: #eeeeee;
    border: none;
    border-radius: 30px;
    height: 30px;
    width:140px;
    float:right;
    padding-left: 10px;
    margin-top:-7px;
}

label {
    cursor: pointer;
    padding: 5px 8px;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    font-size: 12px;
}

.restaurant_profile label {
    font-weight: bold;
}

.check_box {
    display: none;
}
.check_box:checked + .label {
    background-color: orange;
    color: white;
    border:1px solid white;
}

.notice_home a, .notice_home a:hover,
.notice_home_ipad a, .notice_home_ipad a:hover,
.notice_home_sp a, .notice_home_sp a:hover,
.recommend_restaurant a, .recommend_restaurant a:hover,
.new_restaurant a, .new_restaurant a:hover,
.search_restaurant a, .search_restaurant a:hover,
.recommend_restaurant_ipad a, .recommend_restaurant_ipad a:hover,
.new_restaurant_ipad a, .new_restaurant_ipad a:hover,
.search_restaurant_ipad a, .search_restaurant_ipad a:hover,
.recommend_restaurant_sp a, .recommend_restaurant_sp a:hover,
.new_restaurant_sp a, .new_restaurant_sp a:hover,
.search_restaurant_sp a, .search_restaurant_sp a:hover,
.menu_list_bar a, .menu_list_bar a:hover,
.category a, .category a:hover{
    color: black;
    text-decoration:none;
    font-weight: 400px;
}
.category_ipad a, .category_ipad a:hover{
    color: white;
    text-decoration:none; 
    font-size:13px; 
}
.category_sp a, .category_sp a:hover{
    color: white;
    text-decoration:none;
    font-weight: 400px;
}
.notice_home_list_te{
    position: relative;
    top:3px;
    margin-left:10px;
    color: #666665;  
}

.notice_home_list_te_sp{
    position: relative;
    top:3px;
    margin-left:0px;
    color: #666665;  
}
.notice_home_list_line{
    width: 100%;
    height: 15px;
    background: #666665 0% 0% no-repeat padding-box;
}

.recommend_restaurant img,
.new_restaurant img,
.search_restaurant img {
    width:270px;
    height:270px;
}

.recommend_restaurant_ipad img,
.new_restaurant_ipad img,
.search_restaurant_ipad img {
    height: 330px;
    width: 330px;
}

.recommend_restaurant_sp img,
.new_restaurant_sp img,
.search_restaurant_sp img {
    width:380px;
}

.edit_thumb_img {
    height:150px;
    margin-bottom: 10px;
}

.notice_home {
    margin-top:20px;
}

.notice_home_ipad {
    margin: 0 50px 0 50px;
}

.notice_show {
    width:1110px;
    margin:10px auto;
}

.notice_show_ipad {
    width:700px;
    margin:10px auto;
}

.notice_date {
    margin: 7px 0 0 30px;
}

.notice_title {
    margin: 0 0 10px 30px;
    /*font-weight: bold;*/
}

.notice_date_sp {
    font-size: 12px;
    margin: 7px 0 5px 0px;
    font-weight: 200;
    text-align: left;
    width: 350px;
}

.notice_img_sp {
    width:60px;
}

.cpon_notice_title {
    font-size:14px;
    font-weight: bold;
}

.notice_title_sp {
    font-size: 17px;
    margin: 0 0 10px 0px;
    width: 350px;
    text-align: left;
}

.notice_title_big {
    font-size: 30px;
}

.notice_content {
    /*font-weight: bold;*/
}

.notice_content_sp {
    font-size: 12px;
    /*font-weight: bold;*/
    text-align: left;
    width: 350px;
}
.notice_content_date{
    text-align: left;
    font-size: 11px;
    width: 360px;
}

.cpon_notice {
    font-size: 50px;
    font-weight: bold;
    text-align:center;
    background-color: grey;
    color:white;
    height:300px;
    line-height: 300px;
}

.notice_name_title {
    position: relative;
    top: 35%;
    left: 25%;
    font-size: 45px;
}

.notice_background {
    background-image: url(../img/bg_kategory.jpg);
    height:300px;
    margin-right: calc(53% - 50vw);
    margin-left: calc(50% - 50vw);
    padding-right: calc(50vw - 50%);
    padding-left: calc(50vw - 50%);
}

.notice_background_ipad {
    background-image: url(../img/bg_kategory.jpg);
    height:200px;
    margin-bottom: 20px;
}

.notice_name_title_ipad {
    position: relative;
    top:20%;
    font-size: 40px;
    font-weight: bold;
    margin-left:60px;
}

.notice_img_ipad {
    position: relative;
    float:right;
    bottom: 70px;
}

.notice_img_ipad img {
    width:70%;
}

.restaurant_category {
    color: #FFFFFF;
    width: 100px;
    height: 24px;
    background: transparent linear-gradient(260deg, #FDB731 0%, #FACD78 33%, #FFB831 71%, #FFA600 100%) 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    text-align: center;
    font-size: 13px;
    line-height: 25px;
}
.restaurant_category_sp {
    color: #FFFFFF;
    width: 82px;
    height: 20px;
    background: transparent linear-gradient(
260deg, #FDB731 0%, #FACD78 33%, #FFB831 71%, #FFA600 100%) 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    text-align: center;
    font-size: 12px;
    line-height: 21px;
}

.restaurant_name {
    padding-top:3px;
    padding-bottom:5px;
    font-size: 25px;
    /*font-weight: bold;*/
}
.restaurant_name_sp2{
    padding-top:3px;
    padding-bottom:5px;
    font-size:22px;
    text-align: left;
}

.restaurant_show{
    margin-top:20px;
}

.restaurant_show_ipad {
    margin-top:60px;
}

.restaurant_show_name {
    font-size: 20px;
    font-weight: bold;
}

.cpon_mall_url {
    width: 148px;
    height: 28px;
    background: #FF7D1A 0% 0% no-repeat padding-box;
    border-radius: 62px;
    opacity: 1;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    margin: 5px 0;
}
.cpon_mall_url_sp {
    width: 150px;
    height: 23px;
    background: #FF7D1A 0% 0% no-repeat padding-box;
    border-radius: 62px;
    opacity: 1;
    font-size: 12px;
    text-align: center;
    line-height: 23px;
    margin: 5px 0;
}

.cpon_mall_url a, .cpon_mall_url a:hover {
    color: #FFFFFF;
    text-decoration:none;
    line-height: 29px;
}
.cpon_mall_url_sp a, .cpon_mall_url_sp a:hover {
    color: #FFFFFF;
    text-decoration:none;
    line-height: 21px;
}


.recommend_list, .new_list, .search_list, #menu_list_recommend, #menu_list_all,
.recommend_list_ipad, .new_list_ipad, .search_list_ipad, #menu_list_recommend_ipad, #menu_list_all_ipad,
.recommend_list_sp, .new_list_sp, .search_list_sp, #menu_list_recommend_sp, #menu_list_all_sp,
.category_list, .restaurant_detail {
    display:flex;
    flex-wrap:wrap;
}
.category_list_sp{
    text-align: center;
}


.recommend_list {
    margin-bottom: 10px;
}

.recommend_list_ipad, .new_list_ipad, .search_list_ipad {
    margin-left: 30px;
}

.recommend_restaurant, .new_restaurant, .search_restaurant {
    width: 30%;
    margin: 10px;
}

.recommend_restaurant_ipad, .new_restaurant_ipad, .search_restaurant_ipad {
    width: 47%;
    margin: 10px;
    height: 47%;
}

.recommend_restaurant_sp, .new_restaurant_sp, .search_restaurant_sp {
    width: 50%;
    padding:5px;
}

.recommend_restaurant_sp img, .new_restaurant_sp img, .search_restaurant_sp img {
    width:180px;
    height:180px;
    margin:0 auto;
}
.recommend_name, .new_name, .search_name {
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*font-weight: bold;*/
    font-size: 15px;
}

.restaurant_name_sp {
    font-size: 13px;
    color: black;
    text-align: left;
}

.recommend_address, .new_address, .search_address {
    font-size: 12px;
    height: 36px;
    color: #696969;
}

.recommend_address_sp, .new_address_sp, .search_address_sp {
    font-size: 10px;
    height: auto;
    color: #696969;
    text-align: left;
}

.recommend_time, .new_time, .search_time {
    font-size: 10px;
    color: #696969;
    /* display: inline-block; */
    top: 3px;
    position: relative;
    text-align: left;
}

.menu_detail {
    width: 23%;
    margin: 10px;
}

.menu_detail img {
    width:240px;
    height:240px;
}

.menu_detail_ipad {
    width: 47%;
    margin: 10px;
}

.menu_detail_ipad img {
    width:300px;
    height:300px;
}

.menu_detail_sp {
    width: 360px;
    height:110px;
    margin: 10px 0;
}

.menu_detail_sp img {
    width:105px;
    height:105px;
    float:right;
}

.menu_name {
    font-size: 18px;
    margin-top:8px;
}

.menu_price {
    font-weight: 600;
    font-size:13px;
}

.menu_explain {
    color:#797979;
    font-size: 16px;
    font-weight: 300;

}

.menu_name_sp {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.menu_price_sp {
    font-size: 11px;
    font-weight: 600;
    text-align: left;
}

.menu_explain_sp {
    color:#797979;
    font-size: 10px;
    text-align: left;
}

.recommend_mark, .recommend_mark_sp {
    font-size: 10px;
    font-weight: bold;
    display:block;
    width:50px;
    height:15px;
    background:green;
    color:#fff;
    border-radius:25px;
    text-decoration:none;
    text-align:center;
}

.recommend_mark {
    margin:10px 0;
}


.open_mark {
    font-size: 8px;
    font-weight: bold;
    display: block;
    width: 50px;
    height: 15px;
    margin: 0px 0;
    background: #DD0000;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    transform: scale(0.8);
    transform-origin: left top;
    position: relative;
    top: 7px;
    float: left;
}

.close_mark {
    font-size: 8px;
    font-weight: bold;
    display: block;
    width: 50px;
    height: 15px;
    margin: 0px 0;
    background: blue;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    transform: scale(0.8);
    transform-origin: left top;
    position: relative;
    top: 7px;
    float: left;
}

.required_mark {
    font-size: 8px;
    font-weight: bold;
    display:block;
    width:50px;
    height:15px;
    margin:0px 20px;
    background:#ff6600;
    color:#fff;
    border-radius:25px;
    text-decoration:none;
    text-align:center;
    display: inline-block;
}


.restaurant_time {
    display: inline-block;
}

.restaurant_address, .restaurant_time, .restaurant_comment, .restaurant_inquiry {
    margin: 10px 0;    
}

.star_img_sp {
    float:left;
    width: 17px;
}

.link_img_sp {
    position: relative;
    float:right;
    top: -50px;
    right: 5px;
}

.restaurant_fivestar_sp {
    font-size:12px;
    color: black;
    float:left;
}

.restaurant_address_sp {
    font-size:12px;
    color: #797979;
    width: 250px;
}

.restaurant_detail_link {
    font-size:12px;
}

.restaurant_detail {
    margin:10px 0;
}

.restaurant_detail_img {
    width:12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .restaurant_detail_img img {
    position: absolute;
    margin:auto;
} */

.restaurant_detail_content {
    width:88%;
    border-bottom: 1px solid #bbbbbb;
    padding-bottom:10px;
}


.comment_error, .comment_error_fivestar {
    font-size: 15px;
    font-weight: bold;
    color:red;
}

.comment_error_fivestar {
    text-align: center;
}

.category_list li {
    text-align:center;
    background-color: #F0F0F0;
    width:84px;
    height:84px;
    border-radius:15%;
    margin:3px;
    list-style: none;
}

.category_list li a {
    color:white;
}

.category_list li img {
    margin: 5px auto;
    height: 50px;
}

/*以下ヘッダーの検索フォームについて*/



/*以下メニューバーについて*/

.info_list_bar {
    margin-top: 10px;
    font-weight: 300;
}

.info_list_bar_pc ul{
    display: table;
    margin: 0;
    padding: 0;
    width: 60%;

}

.info_list_bar_ipad ul{
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;

}

.info_list_bar_sp ul{
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 10px;
}

.info_list_bar_sp img{
    width: 11px;
}

.info_list_bar li{
    display: table-cell;
    min-width: 50px;
}

.info_list_bar a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: #555;
    padding-bottom: 5px;
    text-align:center;
}

.info_list_bar li.current{
    border-bottom: 3px solid #FFB01A;
    color:#FFB01A;
}

.info_list_bar li{
    border-bottom: 3px solid #666665;
    color: #666665;
}

.info_list_bar li:hover{
    border-bottom: 3px solid #FFB01A;
}

.info_list {
    height: 500px;
    background-color: #FAFAFA;
    padding: 30px;
    font-weight: 300;
    font-size: 15px;
    line-height: 35px;
}
.info_list_sp {
    height: 370px;
    background-color: #FAFAFA;
    padding: 30px;
    font-weight: 300;
    font-size: 13px;
    line-height: 25px;
    text-align: left;
}

/*以下メニューバーについて*/

.menu_list_bar {
    margin-top: 10px;
    font-weight: bold;
}

.menu_list_bar_pc ul{
    display: table;
    margin: 0;
    padding: 0;
    width: 30%;

}

.menu_list_bar_ipad ul{
    display: table;
    margin: 0;
    padding: 0;
    width: 50%;

}

.menu_list_bar_sp ul{
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;

}

.menu_list_bar li{
    display: table-cell;
    min-width: 50px;
    font-weight: 400;
}

.menu_list_bar a{
    display: block;
    width: 100%;
    text-decoration: none;
    padding-bottom: 10px;
    text-align: center;
    padding-top: 10px;
    color: #E2E2E2;
}

.menu_list_bar li.current{
    border-bottom: 2px solid #FDB731;
    color: #FDB731;
}

.menu_list_bar li.current a {
    color: #FDB731;
}

.menu_list_bar li{
    border-bottom: 2px solid #E2E2E2;
    color:#E2E2E2;
}

.menu_list_bar li:hover{
    color: #FDB731;
    border-bottom: 2px solid #a9a9a9;
}

/*以下SP版の固定メニューについて*/
.footer_sp {
    margin-bottom: 80px;
    background: transparent linear-gradient(95deg, #FFC645 0%, #FFC24E 17%, #FFCD45 62%, #FFAD10 100%) 0% 0% no-repeat padding-box;
height: 74px;
}
.footer_sp a {
    font-size: 15px;
    margin: 80px auto 50px auto;
    padding: 10px;
    top: 11px;
    position: relative;
}

/*メニューをページ下部に固定*/
#sp-fixed-menu{
    position: fixed;
    /*min-width: 400px;*/
    bottom: 0px;
    font-size: 0;
    z-index: 99;
    width: 100%;
}

/*メニューを横並びにする*/
#sp-fixed-menu ul{
    display: flex;
    list-style: none;
    padding:0;
    margin:0;
    width:100%;
}

#sp-fixed-menu li{
    justify-content: center;
    align-items: center;
    padding:0;
    margin:0;
    font-size: 14px;
    background: #F0F0F0;
}
 
/*ボタンを調整*/
#sp-fixed-menu li a{
    font-size: 9px;
    color: black;
    text-align: center;
    display:block;
    width: 100%;
    padding:20px;
}

.sp_menu_home, .sp_menu_search {
    width:25%;
    font-size:6px;
}

.sp_menu_phone, .sp_menu_mail {
    width:35%;
}

/*以下スライダー機能について*/

.slider, .slider_ipad, .slider_banner, .slider_banner_ipad {
    margin:0 auto;
    padding: 0px 10px;
}

.slider, .slider_banner {
    width:1080px;
}

.slider_ipad, .slider_banner_ipad {
    width:700px;
}

.slider_sp, .slider_banner_sp, .restaurant_img_sp {
    width:355px;
    padding-left: 0px;
}

.restaurant_img_ipad {
    padding-left: 0px;
}

.category_name {
    font-size: 16px;
    color:#FFFFFF;
    margin-top:-13px;
}

.category_name_ipad {
    margin-bottom: 20px;
}

.category_name_sp {
    font-size: 12px;
    margin-bottom: 10px;
}

.slider_ipad img {
    margin:0 20px;
    height:auto;
}

.slider_sp li img {
    height:30px;
}

.slider li {
    height:127px;
}

.slider_ipad li {
    margin:0 10px 10px 10px;
}
.slider_sp li {
    margin:0 2px 10px 2px;
}

.banner_sp{
    margin-top: 15px;
}
.banner_ipad {
    margin-top: 65px;  
}

.slide_restaurant_img_ipad{
    width: 320px;
    height: 320px;
    margin:auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin:0 3px 10px 3px;
}

.restaurant_img_ipad .slick-slide {
    margin:5px;
}

.banner_img {
    width:100%;/*スライダー内の画像を横幅100%に*/
    height:auto;
}
.banner_img_sp {
    width:100%;/*スライダー内の画像を横幅100%に*/
    height:355px;
}

.slider_banner li {
    height:150px;
}

.slider_banner_ipad li {
    height:100px;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider_banner .slick-slide,
.slider_banner_ipad .slick-slide {
    margin:0 10px 10px 10px;
}

.category_link {
    text-align:center;
    background:transparent linear-gradient(230deg, #FDB731 0%, #FACD78 33%, #FFB831 71%, #FFA600 100%) 0% 0% no-repeat padding-box;;
    width:100px;
    border-radius:15%;
}

.category li img{
    margin:15px auto;
    width:90px;
}
.category_ipad li img {
    margin:10px auto;
    width:70px; 
}

.category_sp li img {
    margin: 15px auto 0px auto;
    width: 70%;
    height: 70%;
}

.banner .draggable,
.banner .slick-slide img {
    height:440px;
    border-radius: 20px;
}

.banner_sp .draggable,
.banner_sp .slick-slide img {
    height:160px;
    border-radius:8px;
}
.banner_sp2 .draggable,
.banner_sp2 .slick-slide img {
    height:355px; 
    border-radius:8px;
}

.banner .slick-dots,
.banner_ipad .slick-dots {
    padding-top: 10px;
}

.slick-dots li button {
    text-indent: -9999px;
 }
.banner_ipad .draggable {
    height:230px;
    border-radius: 35px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    height: 15px;
    width: 15px;
    z-index: 5;
}

.slider .slick-prev,
.slider_banner .slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
}

.slider .slick-next,
.slider_banner .slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
}

.slider .slick-prev {
    top: 36%;
}

.slider .slick-next {
    top: 36%;
}

.slider_banner .slick-prev {
    top: 43%;
}

.slider_banner .slick-next {
    top: 43%;
}

.slider_ipad .slick-prev {/*戻る矢印の位置と形状*/
    left: -3%;
    top: 53px;
}

.slider_banner_ipad .slick-prev {/*戻る矢印の位置と形状*/
    left: -0.2%;
    top: 105px;
}

.slider_ipad .slick-next {/*次へ矢印の位置と形状*/
    right: -3%;
    top: 53px;
}

.slider_banner_ipad .slick-next {/*次へ矢印の位置と形状*/
    right: -0.2%;
    top: 105px;
}

.slider_sp .slick-prev {/*戻る矢印の位置と形状*/
    left: -5px;
    top: 42px;
    height: 10px;
    width: 10px;
}

.slider_banner_sp .slick-prev,
.restaurant_img_sp .slick-prev {/*戻る矢印の位置と形状*/
    left: -8px;
    top: 75px;
}


.slider_sp .slick-next {/*次へ矢印の位置と形状*/
    right: -4px;
    top: 42px;
    height: 10px;
    width: 10px;
}

.slider_banner_sp .slick-next,
.restaurant_img_sp .slick-next {/*次へ矢印の位置と形状*/
    right: -7px;
    top: 75px;
}



.restaurant_img_ipad .slick-prev {/*戻る矢印の位置と形状*/
    left: -15px;
    top: 140px;
}

.restaurant_img_ipad .slick-next {/*次へ矢印の位置と形状*/
    right: -15px;
    top: 140px;
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
    padding:0;
}

.banner_sp .slick-dots {
    margin-top: 5px;
}
.banner_sp2 .slick-dots {
    margin-top: 5px;
}

.slick-dots li {
    display:inline-block;
    margin:0 5px;
    height:10px;
}

.slick-dots button {
    color: none;
    outline: none;
    width: 8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:100%;
    background:#8D8D8D;/*ドットボタンの色*/
    border-color: #8D8D8D;
    padding:1px;
    opacity: 1.0;
    cursor: pointer;
    border: #A2A2A2;
}

.slick-dots .slick-active button{
    content:'';
    background:#FFB01A;/*ドットボタンの現在地表示の色*/
    border-color: #FFB01A;
    text-decoration: none;
    color: #FFB01A;
    border: #A2A2A2;
}

/*以下五つ星デザインについて*/

.fivestar_title {
    float: left;
    font-size: 19px;
    margin: 30px 0px;
    border-left: orange solid 5px;
    padding-left: 20px;
}

.fivestar_title_sp {
    float:left;
    margin: 10px 0px;
    border-left: orange solid 5px;
    padding-left: 10px;
}

.rate-form_pc {
    display: flex;
    flex-direction: row-reverse;
    margin: 0px 0px 7px 3px;
    width: 160px;
    top: 57px;
    position: relative;
    height: 130px;
}

.rate-form_ipad {
    display: flex;
    flex-direction: row-reverse;
    margin: 0px;
}

.rate-form_sp {
    display: flex;
    flex-direction: row-reverse;
    margin: 15px 15px 0px 0px;
    float: left;
    width: 190px;
}

.rate-form input[type=radio] {
    display: none;
}
.rate-form label {
    position: relative;
    padding: 0 5px;
    color: #ccc;
    cursor: pointer;
    font-size: 46px;
    border:none;
}
.rate-form label:hover {
    color: #ffcc00;
}
.rate-form label:hover ~ label {
    color: #ffcc00;
}
.rate-form input[type=radio]:checked ~ label {
    color: #ffcc00;
}



/*以下モーダルについて*/

/* モーダルウィンドウ */
.modal-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 580px;
    background-color: #dfdddd;
    border-radius: 5px;
    z-index: 110;
    padding: 2rem;
}

.modal-window_sp {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    z-index: 110;
    padding: 2rem;
}

.modal-text {
    font-size: 33px;
    font-weight: bold;
    position: absolute;
    top: 35%;
    left: 11%;
}

.modal-text_sp {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 35%;
    left: 11%;
}

/* 閉じるボタン */
.button-close {
    font-size: 30px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 80px;
    background-color: black;
    color: #eaeaea;
    border-radius: 20rem;
    cursor: pointer;
}

.button-close_sp {
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 50px;
    background-color: black;
    color: #eaeaea;
    border-radius: 20rem;
    cursor: pointer;
}

/* オーバーレイ */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 100;
}



/*以下ページネーションについて*/

.paginationWrap {
    display: flex;
    justify-content: center;
    margin-top: 38px;
    margin-bottom: 40px;
}

.paginationWrap ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.paginationWrap ul.pagination li {
    display: inline;
    margin-right: 4px;
}

.paginationWrap ul.pagination li a {
    color: #2f3859;
    padding: 8px 14px;
    text-decoration: none;
}

.paginationWrap ul.pagination li a.active {
    background-color: #EDEDED;
    border-radius: 5px;
    width: 38px;
    height: 38px;
}

.paginationWrap ul.pagination li a:hover:not(.active) {
    background-color: #e1e7f0;
    border-radius: 5px;
}


/*以下「もっと見る」ボタンについて*/
/* === BOXの定義 ================================================= */
.restaurant_profile {
    position: relative;
    margin: 0 auto 43px auto;
    padding: 14px 0px 20px 0px;
    background: #fff;
    text-align: left;
    font-size: 13px;
    color: #696969;
}

/* === 文書を書くBOX ============================================= */
#restaurant_profile_text {
cursor: pointer;
display: -webkit-box;
-webkit-box-orient: vertical;
}

/* === チェックボックス ========================================== */
.restaurant_profile > input {
display       : none;                                   /* 非表示 */
}

/* === チェックボックスのlabel（＝ボタンに見せる） =============== */
.restaurant_profile > label {
position      : absolute;
display       : inline-block;
bottom        : -30px;
right         : 3px;
padding-top       : 0px ;
font-size: 11px;
font-weight: 300;
display: block;
width: 120px;
height: 26px;
line-height: 25px;
background:#FDB731;
color:#fff;
border-radius:25px;
text-decoration:none;
text-align:center;
border: none;
}

/* === ボタンにカーソルが乗った時 ================================ */
#restaurant_profile_label:hover,
#restaurant_profile_label_ipad:hover {
transition: 0.5s;
opacity: 0.6;
}

/* === 文書のエリアの高さ（「もっと見る」が表示されているとき）=== */
.restaurant_profile > input[type="checkbox"]:not(:checked) ~ #restaurant_profile_text {
height        : 75px;
}

/* === 文書のエリアの高さ（「一部を表示」が表示されているとき）=== */
.restaurant_profile > input[type="checkbox"]:checked ~ #restaurant_profile_text {
    display:block;
}

/* --- ボタンに表示する文字（閉じているとき） -------------------- */
.restaurant_profile > input[type="checkbox"]:not(:checked) + label::after {
content       : "もっと見る";
}

/* --- ボタンに表示する文字（開いているとき） -------------------- */
.restaurant_profile > input[type="checkbox"]:checked + label::after {
content       : "一部を表示";
}

/* --- ボタンに表示する文字（開いているとき） -------------------- */
.restaurant_profile > input[type="checkbox"]:checked + label {
    bottom        : 0px;
}
    
/* --- ボタンに表示する文字（開いているとき） -------------------- */
.restaurant_profile > input[type="checkbox"]:checked + #restaurant_profile_label_sp {
    bottom        : -30px;
}
    
        

/*以下クチコミの「もっと見る」ボタンについて*/
/* === BOXの定義 ================================================= */
.comment_box, .comment_box_ipad {
    position: relative;
    margin: 0 auto 43px auto;
    padding: 14px 0px 20px 0px;
    background: #fff;
    text-align: left;
    font-size: 13px;
    color: #696969;
}

/* === 文書を書くBOX ============================================= */
#restaurant_profile_text {
cursor: pointer;
display: -webkit-box;
-webkit-box-orient: vertical;
}

/* === チェックボックス ========================================== */
.comment_box > input, .comment_box_ipad > input {
display       : none;                                   /* 非表示 */
}

/* === チェックボックスのlabel（＝ボタンに見せる） =============== */
.comment_box > label, .comment_box_ipad > label {
position      : absolute;
display       : inline-block;
bottom        : -30px;
right         : 3px;
padding-top       : 0px ;
font-size: 14px;
font-weight: bold;
display: block;
width: 120px;
height: 26px;
line-height: 25px;
background:black;
color:#fff;
border-radius:25px;
text-decoration:none;
text-align:center;
}

/* === 文書のエリアの高さ（「もっと見る」が表示されているとき）=== */
.comment_box > input[type="checkbox"]:not(:checked) ~ #restaurant_profile_text {
height        : 75px;
}

/* === 文書のエリアの高さ（「一部を表示」が表示されているとき）=== */
.comment_box > input[type="checkbox"]:checked ~ #restaurant_profile_text {
    display:block;
}

/* --- ボタンに表示する文字（閉じているとき） -------------------- */
.comment_box > input[type="checkbox"]:not(:checked) + label::after,
.comment_box_ipad > input[type="checkbox"]:not(:checked) + label::after {
content       : "もっと見る";
}

/* --- ボタンに表示する文字（開いているとき） -------------------- */
.comment_box > input[type="checkbox"]:checked + label::after,
.comment_box_ipad > input[type="checkbox"]:checked + label::after {
content       : "一部を表示";
}

/* --- ボタンに表示する文字（開いているとき） -------------------- */
.comment_box > input[type="checkbox"]:checked + label,
.comment_box_ipad > input[type="checkbox"]:checked + label {
bottom        : 0px;
}



/*以下iPad版の「開く」ボタンについて*/

/* === 文書を書くBOX ============================================= */
.filter_form_ipad {
    overflow      : hidden;                       /* hidden指定は必須 */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
    
.filter_form_sp {
    overflow      : hidden;                       /* hidden指定は必須 */
    width: 100%;
}

/* === チェックボックス ========================================== */
.filter_open_checkbox {
display       : none;                                   /* 非表示 */
}

/* === チェックボックスのlabel（＝ボタンに見せる） =============== */
.filter_open_label {
    position: relative;
    float: right;
    right: -13px;
    margin-bottom: -50px;
    bottom: 37px;
    padding-top: 0px;
    font-size: 22px;
    /* font-weight: bold; */
    display: block;
    width: 104%;
    height: 51px;
    line-height: 50px;
    background: transparent linear-gradient(
260deg, #FDB731 0%, #FACD78 33%, #FFB831 71%, #FFA600 100%) 0% 0% no-repeat padding-box;
    color: #fff;
    border-radius: 7px;
    text-decoration: none;
    text-align: center;
    border: none;
}

.filter_open_label_sp {
    position: relative;
    text-align: center;
    margin-bottom: -54px;
    bottom: 40px;
    padding-top: 0px;
    font-size: 15px;
    /* font-weight: bold; */
    display: block;
    width: 375px;
    height: 39px;
    line-height: 39px;
    background: transparent linear-gradient(
265deg, #FDB731 0%, #FACD78 33%, #FFB831 71%, #FFA600 100%) 0% 0% no-repeat padding-box;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    left: -13px;
}
.filter_open_checkbox label{
    border: none;
}

/* === ボタンにカーソルが乗った時 ================================ */
.filter_open_label:hover {
transition: 0.5s;
opacity: 1.0;
}

/* === 文書のエリアの高さ（「続きを開く」が表示されているとき）=== */
.filter_open_checkbox:not(:checked) ~ div {
height        : 0px;
}

/* === 文書のエリアの高さ（「続きを開く」が表示されているとき）=== */
.filter_open_checkbox:checked ~ div {
/* padding-bottom: 30px; */
text-align:left;
}

/* --- ボタンに表示する文字（閉じているとき） -------------------- */
.filter_open_checkbox:not(:checked) + label::after {
content       : "絞り込み";
}

/* --- ボタンに表示する文字（開いているとき） -------------------- */
.filter_open_checkbox:checked + label::after {
content       : "閉じる";
}

/* --- ボタンに表示する文字（開いているとき） -------------------- */
.filter_open_checkbox:checked + label {
bottom        : 37px;
}


/*以下サムネイルについて*/
.img_tmb img, .img_tmb_ipad img {
height:100px;
margin:10px;
}


/*以下ハンバーガーメニューについて*/

.menu-btn {
    position: absolute;
    top: 52px;
    right: 6%;
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #FFB01A;
    border: none;
    border-radius: 50px;
    margin-right: -10px;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 23px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}


.menu-content {
    width: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background:transparent linear-gradient(89deg, #FFC645 0%, #FFC24E 17%, #FFCD45 62%, #FFAD10 100%) 0% 0% no-repeat padding-box;;
    transition: all 0.5s;/*アニメーション設定*/
}

.menu-content ul {
    padding: 105px 10px 0;
}
.menu-content ul li {
    /*border-bottom: solid 1px #ffffff;*/
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

#menu-btn-check:checked ~ .menu-content {
    left: 0px;/*メニューを画面内へ*/
}


/*以下ローディング画面について*/

/*▼▼ ここから追加する ▼▼*/
.loader-wrap {
	position: fixed;
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 9998;
}
/*▲▲ ここまで追加する ▲▲*/

.loader {
    color: #FFB01A;
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }

.loader_text {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    z-index: 9999;
}

  @-webkit-keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  @keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  